{% extends 'BlogApp/base.html' %}

{% block 'title' %}
Change Password
{% endblock 'title' %}

{% block 'body' %}
<div class="container">
    <form method="POST" class="form-horizontal"> {% csrf_token %}
    {{form|bootstrap_horizontal }}
    <div class="form-group">
    
    <button type="submit">Save</button>
    </div>

</form>
</div>
<button type="button" onClick="javascript:location.href='/users/';" />Cancel</button>
{% if done %}
<p>Password has been changed successful!</p>
{% endif %}
{% endblock 'body' %}
