{% extends 'BlogApp/base.html' %}

{% block 'title' %}
Users Editing
{% endblock 'title' %}

{% block 'body' %}
<form method="POST"> {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
    <button type="button" onClick="javascript:location.href='del/{{user.pk}}';" />Delete</button>
    <button type="button" onClick="javascript:location.href='ch_pw/{{user.pk}}';" />Change Password</button>
</form>

<button type="button" onClick="javascript:location.href='/users/';" />Cancel</button>
{% endblock 'body' %}
