{% extends 'BlogApp/base.html' %}
{% load bootstrap %}

{% block 'title' %}
Forbidden
{% endblock 'title' %}

{% block 'body' %}
<div class="container">
    <form method="POST" class="form-horizontal"> {% csrf_token %}
    {{ forbidden_words_form|bootstrap_horizontal }}
        <div class="form-group">
             <div class="col-sm-10 col-sm-offset-2">
            
        
                                  <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add</button>

            </div>
        </div>
    </form>
</div>
{% endblock 'body' %}
