{% if not request.user.is_authenticated  %}
<button type="button" onClick="javascript:location.href='/login/';" />Log In</button>
<button type="button" onClick="javascript:location.href='/registration';" />Register</button>
{% elif not request.user.is_super %}
<button type="button" onClick="javascript:location.href='/logout/';" />Log Out</button>
{% else %}
<button type="button" onClick="javascript:location.href='/logout/';" />Log Out</button>
<button type="button" onClick="javascript:location.href='/mange/';" />Mange Blog</button>
{% endif %}