{% extends 'BlogApp/base.html' %}

{% block 'title' %}
Users Management Panel
{% endblock 'title' %}

{% block 'body' %}


<div class="container">
    <a href="/new_forbidden_word" class="pull-right"><i class="glyphicon glyphicon-plus"></i></a>

<table class="table">


<th>#</th><th>Word</th><th>Delete</th>

{%   for word in all_forbidden_words %}
<tr>
<td>{{count.increment}}</td>
<td> {{ word.forbiddenWord }} </td>
<td> <a href="/{{word.id}}/delete_forbidden_word" class="glyphicon glyphicon-remove">  </a>  </td>
</tr>

{% endfor %}


</table>



{% endblock 'body' %}
