{% extends 'BlogApp/base.html' %}

{% block 'title' %}
Users Management Panel
{% endblock 'title' %}

{% block 'body' %}


<div class="container">
<table class="table">


<th>name</th><th colspan='4'>actions</th>

{%   for word in all_forbidden_words %}
<tr>

<td> {{ word.forbiddenWord }} </td>
<td> <a href="/{{word.id}}/delete_forbidden_word" class="glyphicon glyphicon-remove">  </a>  </td>
</tr>

{% endfor %}


</table>



<a href="/new_forbidden_word" class="glyphicon glyphicon-plus"> new forbidden word</a>

{% endblock 'body' %}
