{% extends 'BlogApp/base.html' %}

{% block 'title' %}
Users Management Panel
{% endblock 'title' %}

{% block 'body' %}


<div class="container">
<table class="table">

<th>name</th><th colspan='4'>actions</th>

{%   for category in all_category %}
<tr>

<td> {{ category.categoryName }} </td>
<td> <a href="/{{category.id}}/edit" class="glyphicon glyphicon-edit">  </a>  </td>
<td> <a href="/{{category.id}}/delete" class="glyphicon glyphicon-remove">  </a>  </td>

</tr>

{% endfor %}


</table>



<a href="/new" class="glyphicon glyphicon-plus"> new category</a>
</div>
{% endblock 'body' %}
