<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.min.css' %}" />
    </head>
    <body>
        <form enctype="multipart/form-data" method='POST'>{% csrf_token %}
            <!--{{form.as_p}}-->
            {% for field in form %}

                <fieldset class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">{{field.label}}</span>
                            {{field}}
                        </div>
                    </div>
                </fieldset>

                </div>
            {% endfor %}
            </div>
            <div class="container">
                <div class="row">

                    <input class="btn btn-success" type='submit' value='save' />
                </div>
            </div>
        </form>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </body>
</html>
