{% load app_filters %}
{% load staticfiles %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.min.css' %}" />
    </head>
    <body>
        <h1>{{post.postTitle}}</h1>
        <h3>{{post.userID.first_name}} {{post.userID.last_name}}</h3>
        <h5>{{post.postDate}}</h5>
        <p>
            {{post.postContent}}
        </p>
        <br />
        {% if user.is_authenticated %}
            <form method="POST" action="comment">{% csrf_token %}
                {{comment_form.as_p}}
                <input type="submit" value="reply" />
            </form>
        {% endif %}
        <div class="comment-section">
            {% for comment in comments.0 %}
                <div class = "comment">
                    <h3>
                        {{comment.userID.first_name}} {{comment.userID.last_name}} : {{comment.replyDate}}
                    </h3>
                    <p>
                        {{comment.replyContent}}
                    </p>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{{comment.id}}/reply">{% csrf_token %}
                            {{comment_form.as_p}}
                            <input type="submit" value="reply" />
                        </form>
                    {% endif %}
                    <div class = "reply">
                        {% for reply in comments|lookup:comment.id %}
                            <h5>
                                {{reply.userID.first_name}} {{reply.userID.last_name}} : {{reply.replyDate}}
                            </h5>
                            <p>
                                {{reply.replyContent}}
                            </p>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>

        <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </body>
</html>
