{% load app_filters %}
{% load staticfiles %}
{% static "" as base_url %}
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        {% for post in posts %}
            <a href="{{post.id}}"><img src="{{base_url}}{{post.postPic.url}}" width="20" height="20" /></a>
            <a href="{{post.id}}">{{post.postTitle}}</a>
                {% if post|equal:user_id == True %}
                    <button onclick="location.href='{{post.id}}/modify_post'">modify</button>
                    <button onclick="location.href='{{post.id}}/delete_post'">delete</button>
                {% endif %}
            <hr />
        {% endfor %}
        
        
         <!-- pagination starts here  -->  
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        <!-- pagination ends here -->
        
        
        <button onclick="location.href='new_post'">add new</button>
    </body>
</html>
