{% extends 'BlogApp/base.html' %}

{% load app_filters %}
{% load staticfiles %}
{% load bootstrap %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.min.css' %}" />
    </head>
    <body>
        {% block 'body' %}
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12">
                    <figure>
                        <img class="img-responsive thumbnail" src="{{base_url}}img/{{post.postPic}}" />
                    </figure>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <h1>{{post.postTitle}}</h1>
                    <h3>By {{post.userID.first_name}} {{post.userID.last_name}}</h3>
                    <h4>{{post.userID.email}}</h4>
                    <h5>{{post.postDate}}</h5>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row" style="margin-bottom: 10px;">
                <h3 class="text-justify">{{post.postContent}}</h3>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment">Comment</button>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% if user.is_authenticated %}
                        <form method="POST" action="comment">{% csrf_token %}
                            <div id = "comment" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Add a new comment</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{comment_form|bootstrap}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <input class="btn btn-success" type="submit" value="Comment" />
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </form>

                    {% endif %}
                </div>
            </div>
            {% for comment in comments.0 %}
                <div class="row">
                    <div class="well col-md-7">
                        <h3>
                            {{comment.userID.first_name}}{{comment.userID.last_name}}
                        </h3>
                        <h5>
                            {{comment.replyDate}}
                        </h5>
                        <p class="text-center">
                            {{comment.replyContent}}
                        </p>
                        {% if user.is_authenticated %}
                            <form method="POST" action="{{comment.id}}/reply">{% csrf_token %}
                                <div id = "reply{{comment.pk}}" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Add a new Reply</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{comment_form|bootstrap}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input class="btn btn-success" type="submit" value="reply" />
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reply{{comment.pk}}">Reply</button>
                        {% endif %}
                    </div>

                </div>
                {% for reply in comments|lookup:comment.id %}
                    <div class = "row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-6 well">

                            <h3>
                                {{reply.userID.first_name}} {{reply.userID.last_name}}
                            </h3>
                            <h5>
                                {{reply.replyDate}}
                            </h5>
                            <p class="text-center">
                                {{reply.replyContent}}
                            </p>
                        </div>
                    </div>
                {% endfor %}




            {% endfor %}
        </div>
        {% endblock 'body' %}
    </body>
</html>
