{% extends 'BlogApp/base.html' %}
{% load app_filters %}
{% block 'body' %}
<div class="container">

{% if user.is_authenticated %}
    <!-- <button class="btn btn-primary pull-right" onclick="location.href='new_post'"><span class="glyphicon glyphicon-plus" style="color"></span> add new</button> -->
    <a href="new_post/" class="pull-right"><i class="fa fa-plus"></i></a>
{% endif %}
                <table class="table">
                    <tr>
                        <th>
                            Post Picture
                        </th>
                        <th>
                            Post Title
                        </th>
                        <th>
                            Post Author
                        </th>
                        <th>
                            Modify
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>

                    {% for post in posts %}
                        <tr>
                            <td>
                                {% if post.postPic %}
                                    <a href="{{post.id}}"><img class="thumbnail img-responsive img-rounded" src="{{base_url}}img/{{post.postPic.name}}" height="40" width="40"  /></a>
                                {% endif %}
                            </td>
                            <td><a href="{{post.id}}">{{post.postTitle}}</a></td>
                            <td><p>{{post.userID.first_name}} {{post.userID.last_name}}</p></td>
                            {% if post|equal:user_id == True %}
                                <td><a href="{{post.id}}/modify_post"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td><a href="{{post.id}}/delete_post"><span class="glyphicon glyphicon-remove" style="color: red;"></span></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

      
                <!-- pagination starts here  -->
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a class="btn btn-danger" href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span id="page" class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        {% if posts.has_next %}
                            <a class="btn btn-success" href="?page={{ posts.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
                <!-- pagination ends here -->

           
        </div>
   
{% endblock 'body' %}
